@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.darkTheme {
    --color-primary: #bb86fc;
    --color-primary-variant: #3700b3;
    --color-secondary: #03dac6;
    --color-background: #121212;
    --color-overlay: 0, 0%;
    --color-overlay1: hsl(var(--color-overlay), 10%);
    --color-overlay2: hsl(var(--color-overlay), 20%);
    --color-overlay3: hsl(var(--color-overlay), 30%);
    --color-overlay4: hsl(var(--color-overlay), 40%);
    --color-overlay5: hsl(var(--color-overlay), 50%);
    --color-overlay6: hsl(var(--color-overlay), 60%);
    --color-overlay7: hsl(var(--color-overlay), 70%);
    --color-overlay8: hsl(var(--color-overlay), 80%);
    --color-overlay9: hsl(var(--color-overlay), 90%);
    --color-surface: #121212;
    --color-error: #cf6679;
    --color-on-primary: #000000;
    --color-on-secondary: #000000;
    --color-on-background: #ffffff;
    --color-on-surface: #ffffff;
    --color-on-error: #000000;
}
body.lightTheme {
    --color-primary: #6200ee;
    --color-primary-variant: #3700b3;
    --color-secondary: #03dac6;
    --color-background: #ffffff;
    --color-overlay: 265, 100%;
    --color-overlay1: hsl(var(--color-overlay), 95%);
    --color-overlay2: hsl(var(--color-overlay), 90%);
    --color-overlay3: hsl(var(--color-overlay), 85%);
    --color-overlay4: hsl(var(--color-overlay), 80%);
    --color-overlay5: hsl(var(--color-overlay), 75%);
    --color-overlay6: hsl(var(--color-overlay), 70%);
    --color-overlay7: hsl(var(--color-overlay), 65%);
    --color-overlay8: hsl(var(--color-overlay), 60%);
    --color-overlay9: hsl(var(--color-overlay), 55%);
    --color-surface: #ffffff;
    --color-error: #b00020;
    --color-on-primary: #ffffff;
    --color-on-secondary: #000000;
    --color-on-background: #000000;
    --color-on-surface: #000000;
    --color-on-error: #ffffff;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: var(--color-overlay2);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-overlay3);
}
body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background-color: var(--color-background);
    color: var(--color-on-background);
    width: 450px;
    height: 600px;
    user-select: none;
    cursor: default;
    overflow: hidden;
    font-size: 17px;
    transition: all 0.2s;
    button {
        color: inherit;
        background: none;
        font-family: inherit;
        border: none;
        padding: 5px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.1s;
        svg {
            fill: var(--color-on-background);
        }
        &:hover {
            background-color: var(--color-overlay3);
        }
        &:active {
            background-color: var(--color-overlay5);
        }
    }
    input[type="text"] {
        background: none;
        border: none;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        &:focus {
            background-color: var(--color-overlay3);
            outline: 1px solid var(--color-overlay4);
        }
    }
    #app {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .inputCheckboxCont {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            input[type="checkbox"] {
                display: none;
            }
            &:hover .inputCheckbox {
                border: 1px solid var(--color-overlay7);
            }
            .inputCheckbox {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                border-radius: 2px;
                background: none;
                transition: all 0.2s;
                border: 1px solid var(--color-overlay3);
                .check {
                    display: none;
                }
            }
            input[type="checkbox"]:checked ~ .inputCheckbox {
                background: var(--color-primary);
                .check {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        #topbar {
            width: 100%;
            position: relative;
            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid var(--color-overlay3);
            h2 {
                margin-right: 10px;
                input {
                    background: var(--color-overlay1);
                    width: 100%;
                    padding: 0 5px;
                    &:focus {
                        background-color: var(--color-overlay2);
                    }
                }
            }
            .goback {
                margin-right: 10px;
            }
            .options {
                margin-left: auto;
                display: flex;
                flex-direction: row;
            }
        }
        #main {
            position: relative;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .dragIndicator {
                position: absolute;
                display: none;
                width: 100%;
                top: 0;
                left: 0;
                .name {
                    position: absolute;
                    background: var(--color-overlay2);
                    padding: 5px;
                    border-radius: 5px;
                    z-index: 2000;
                    border: 1px solid var(--color-primary);
                    max-width: 250px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .line {
                    position: absolute;
                    width: 98%;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px;
                    background-color: var(--color-primary);
                }
            }
            .contextMenu {
                position: fixed;
                left: 0;
                top: 0;
                background-color: var(--color-background);
                padding: 10px 0;
                flex-direction: column;
                align-items: stretch;
                border-radius: 2px;
                font-size: 15px;
                width: 200px;
                z-index: 1000;
                display: flex;
                visibility: hidden;
                &[data-state="opened"] {
                    visibility: visible;
                }
                &[data-state="closed"] {
                    visibility: hidden;
                }
                li {
                    padding: 4px 10px;
                    list-style: none;
                    &:hover {
                        background-color: var(--color-overlay2);
                    }
                    &:active {
                        background-color: var(--color-overlay3);
                    }
                }
            }
            .collectionOptions {
                display: grid;
                place-items: center;
                position: sticky;
                top: 0;
                z-index: 1000;
                height: 50px;
                width: 100%;
                padding: 5px 5px;
                background: var(--color-background);
                .deleteSelected {
                    width: 100%;
                    display: flex;
                    padding: 0 5px;
                    align-items: center;
                    height: 100%;
                    flex-direction: row;
                    border-radius: 2px;
                    background-color: var(--color-overlay4);
                    transition: all 0.1s;
                    z-index: 1000;
                    .options {
                        display: flex;
                        flex-direction: row;
                        margin-left: auto;
                    }
                }
                .createNew {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-self: stretch;
                    justify-self: stretch;
                    flex-direction: row;
                    > button {
                        width: 50%;
                        height: 100%;
                    }
                }
            }
            .collectionItem {
                width: 100%;
                height: 70px;
                border-radius: 3px;
                display: grid;
                cursor: default;
                column-gap: 10px;
                grid-template-columns: 50px auto 40px;
                overflow: hidden;
                align-items: center;
                color: inherit;
                text-decoration: none;
                padding: 5px;
                background-color: var(--color-overlay1);
                transition: all 0.2s;
                &.collectionContentItem {
                    cursor: pointer;
                    grid-template-columns: 80px auto 40px;
                    .cover {
                        height: 100%;
                        border-radius: 3px;
                        width: 100%;
                        overflow: hidden;
                        margin-right: 10px;
                        background-color: var(--color-overlay3);
                        img {
                            max-width: 100%;
                            position: relative;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            left: 50%;
                        }
                    }
                }
                &:hover {
                    background-color: var(--color-overlay2);
                }
                &:active {
                    background-color: var(--color-overlay3);
                }
                &[data-checked="true"] {
                    background-color: var(--color-overlay1);
                    box-shadow: var(--color-primary) 0 0 0 2px;
                    &:hover {
                        background-color: var(--color-overlay2);
                    }
                    &:active {
                        background-color: var(--color-overlay5);
                    }
                }
                .addCurrent {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    overflow: hidden;
                    margin-right: 10px;
                    button {
                        height: 100%;
                        width: 100%;
                    }
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    overflow: hidden;
                    > span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .total {
                        color: var(--color-overlay6);
                        font-size: 12px;
                    }
                    .link {
                        color: var(--color-overlay6);
                        font-size: 12px;
                    }
                }
                .options {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                }
            }
            .collection-view {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 10px;
                align-items: center;
                gap: 10px;
                font-size: 17px;
            }
        }
        .promptConfirmCont {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: hsl(var(--color-overlay), 10%, 0.5);
            display: grid;
            place-items: center;
            .prompt {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--color-background);
                padding: 10px;
                border-radius: 2px;
                .msg {
                }
                .option {
                    display: flex;
                    flex-direction: row;
                    .warn {
                        &:hover {
                            color: var(--color-on-error);
                            background: var(--color-error);
                        }
                    }
                }
            }
        }
    }
}
